// Cartaz
.cartaz {
  margin: 0.5em auto;
  width: 30rem;
  font-size: 3rem;
  text-align: center;
  color: var(--primary-700);
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--gray-900);
}

.cartaz__banda {
  text-transform: uppercase;

  &.cartaz__banda--1 {
    font-size: 1em
  }

  &.cartaz__banda--2 {
    font-size: .88em
  }

  &.cartaz__banda--3 {
    font-size: .75em
  }

  &.cartaz__banda--4 {
    font-size: .75em
  }
}
