:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-500);
}

.site {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: $spacing-l;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
}

.main {
  overflow: auto;
}

.section {
  height: 100vh;
  padding: $spacing-l;
}

ul {
  list-style: none;
  padding: unset;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}

a {
  color: var(--primary-500);
  text-decoration: none;

  &:hover {
    background-color: var(--secondary-300);
  }
}
