:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--secondary-300);
}

html {
  height: 100%;
}

body {
  font-family: 'Spartan', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-100);
  background-color: var(--secondary-500);

  @media screen and (max-width: 860px) {
    * {
      display: none;
    }

    &::before {
      content: "Pedimos desculpa, mas ainda não está disponível em mobile. :(";
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

ul {
  list-style: none;
  padding: unset;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}

a {
  position: relative;
  color: var(--primary-500);
  text-decoration: none;

  &:hover {
    background-color: var(--secondary-300);
  }
}

p {
  font-size: .85rem;
}

.text--bigger {
  font-size: 1rem;
}

// Project global classes
.site {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "nav content";
  grid-gap: $spacing-l;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: nav;
}

.main {
  grid-area: content;
  position: relative;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.section--selected {
  height: 100vh;
  padding: $spacing-l;
  opacity: 1;
  pointer-events: initial;
}

.section__header {
  height: 120px;
  overflow: hidden;
}
