html
  title Ceira Rock Fest
  link(rel="stylesheet", href="./css/main.css")
  
  body
    img(src='./images/logo/logo.png', height="206", width="200", alt="logo")
    h1= title
    h2= date
    p Estamos a preparar uma festa... e o site também.
    p Mas podes ver já o cartaz pelo #[a(href="https://www.facebook.com/crf.ceirarockfest/") facebook].


//- include ../0-setup/head.pug

//- body.body--wrap
//-     include ../1-modules/header.pug
//-     main