include ../0-setup/variables.pug

html
  title Ceira Rock Fest
  link(rel="stylesheet", href="./css/main.css")
  
  body
    .site
      include ../1-modules/header.pug
      main.main
        include  ../2-sections/hero.pug
        include  ../2-sections/info.pug
        include  ../2-sections/mercha.pug
        include  ../2-sections/passado.pug
        include  ../2-sections/contactos.pug
        

  script(src="./js/index.js")