section#hero
  ul.cartaz
    li.cartaz__banda.cartaz__banda--1 Los Chicos
    li.cartaz__banda.cartaz__banda--2 Daniel Catarino
    li.cartaz__banda.cartaz__banda--3 The Brooms
    li.cartaz__banda.cartaz__banda--4 From Atomic

  div.headline-info
    div.headline-info__text ARMC, Ceira | Coimbra
    div.headline-info__text 23 de Março de 2019 | 22h
