header.header
  div.headline-info
    div.headline-info__text ARMC, Ceira | Coimbra
    div.headline-info__text 23 de Março de 2019 | 22h

  figure.header__logo
    img(src="images/logo/logo.png", height="153", width="157", alt="logo")

  ul.cartaz
    li.cartaz__banda.cartaz__banda--1 Los Chicos
    li.cartaz__banda.cartaz__banda--2 Daniel Catarino
    li.cartaz__banda.cartaz__banda--3 The Brooms
    li.cartaz__banda.cartaz__banda--4 From Atomic

  nav.nav
    a.nav__links(href="#") Info
    a.nav__links(href="#") Bandas
    a.nav__links(href="#") Passado
    a.nav__links(href="#") Contactos
