section#passado.section.section--passado
  header.section__header.section__header--passado
    h1.section__title Passado

  div.edicoes
    h2.edicoes__title Edições
    
    each edicao in passado
      div.edicao
        h3.edicao__title= edicao.year
        p.edicao__text= edicao.text


