div.header
  figure.header__logo
    img(src="images/logo/logo.png", height="153", width="157", alt="logo")

  div.header__info
    span ARMC, Ceira | Coimbra
    <br>
    span 24 de Setembro de 2022 | 22h 
