div.header
  figure.header__logo
    img(src="images/logo/logo.png", height="153", width="157", alt="logo")

  div.header__info
    span ARMC, Ceira | Coimbra
    <br>
    span(style="text-decoration: line-through;") 14 de Março de 2020 | 22h 
    strong ADIADO

  include ./nav.pug
